[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
python-dotenv = "*"
google-generativeai = "*"
langchain-community = "*"
langchain-chroma = "*"
sentence-transformers = "*"
jq = "*"
langchain-huggingface = "*"

[dev-packages]

[requires]
python_version = "3.12"
